<div class="background">
  <div class="shade__background">
    <mat-toolbar class="header__welcome">
      <span class="company__logo">CP</span>
      <span class="fill__space"></span>
      <span class="right__alligned__items">
        <button mat-button class="login__button" (click)="loginToggle()">LOG IN</button>
        <button mat-button class="signup__button" (click)="registerToggle()">SIGN UP</button>
      </span>
    </mat-toolbar>
    <mat-card *ngIf="!registerMode && !loginMode" class="welcome__content">
      <div class="welcome__title">CONTEST POINT</div>
      <div class="welcome__subtitle">GET YOUR GEARS ROLLING</div>
      <div class="welcome__text">Are you a creator or a contester? Begin your journey of discovery and adventure now by
        creating an account and joining our international community. Show the world what your aptitudes are or create
        the perfectly organised contest type event.</div>
      <button mat-button class="tryitnow__button" (click)="registerToggle()">TRY IT NOW</button>
    </mat-card>
    <div *ngIf="registerMode && !loginMode">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
    <div *ngIf="!registerMode && loginMode">
      <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
    </div>
    <mat-toolbar class="footer__welcome">
      <span class="footer__text margin__left">Contest Point &reg;</span>
      <a href="google.com" class="right__allign margin__right"><img
          src="../../assets/images/iconfinder_facebook_six_107120.png" alt="facebook" class="footer__icon"></a>
      <a href="google.com" class="margin__right"><img src="../../assets/images/iconfinder_twitter_six_107069.png"
          alt="twitter" class="footer__icon"></a>
      <span class="footer__text">contact@contestpoint.com</span>
    </mat-toolbar>
  </div>
</div>
