<div class="dashboard__container">
  <app-nav></app-nav>
  <div class="content__wrapper">
    <div class="image__wrapper">
      <img class="cover__image" mat-card-image src={{contest.coverPicture}} alt="Cover Photo">
    </div>
    <div class="contest__name">
      <span class="first__half">{{contest.contestName}}
        <span *ngIf="userDisplayed == &#34;&#34;" class="contest__creator">by {{contest.userFirstName}}
          {{contest.userLastName}}</span>
        <span *ngIf="userDisplayed != &#34;&#34;" class="contest__creator">by {{userDisplayed}}</span>
      </span>
      <span class="action__buttons">
        <button style="display: none;" id="edit" (click)="openDialogEdit()" class="edit__button" mat-icon-button
          color="primary">
          <span class="material-icons">edit</span>
        </button>
        <button style="display: none;" id="delete" (click)="openDialogDelete()" class="delete__button" mat-icon-button
          color="warn">
          <span class="material-icons">delete_outline</span>
        </button>
      </span>
    </div>
    <p *ngIf="contest.startDate != contest.endDate" class="period">{{contest.startDate}} -- {{contest.endDate}}</p>
    <p *ngIf="contest.startDate == contest.endDate" class="period">{{contest.startDate}}</p>
    <p class="contest__details">{{contest.details}}</p>
    <div class="contest__details__enrollment"><span class="enrollment__period">Enrollment period:</span> from <span
        class="date">{{contest.enrollmentStart}}</span> to <span class="date">{{contest.enrollmentDue}}</span></div>
    <div class="contest__details__enrollment">
      <span *ngIf="contest.partners != &#34;&#34;">Partners: </span>
      {{contest.partners}}
    </div>
    <div class="contest__details">
      <mat-chip-list aria-label="Tags">
        <mat-chip *ngFor="let tag of contest.tags" (click)="data(tag.tagName)">{{tag.tagName}}</mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="contest.locations[0].onlineResource == &#34;&#34;" class="location">{{contest.locations[0].streetName}}
      {{contest.locations[0].streetNumber}} {{contest.locations[0].buildingNumber}} {{contest.locations[0].city}},
      {{contest.locations[0].country}}, {{contest.locations[0].postalCode}}, {{contest.locations[0].details}}</div>
    <div *ngIf="contest.locations[0].onlineResource != &#34;&#34;" class="location">
      {{contest.locations[0].onlineResource}}</div>
    <div class="contest__buttons">
      <div class="likes__wrapper">
        <button mat-icon-button class="like__button" (click)="like()" id="like" aria-label="Like button"
          style="display: none;">
          <span class="material-icons">
            favorite_border
          </span>
        </button>
        <button mat-icon-button (click)="dislike()" class="like__button" color="warn" id="dislike"
          style="display: none;" aria-label="Like button">
          <span class="material-icons">
            favorite
          </span>
        </button>{{noLikes}} likes
        <button class="enroll__button" style="display: none;" (click)="openDialog()" mat-flat-button id="enrollButton"
          color="primary">ENROLL</button>
        <button class="enroll__button" style="display: none;" (click)="openDialogUnenroll()" mat-button
          id="unenrollButton" color="primary">UNENROLL</button>
        <button class="enroll__button" (click)="openDialogContestants()" mat-flat-button color="primary"
          id="contestantsButton" style="display: none;">SEE
          CONTESTANTS</button>
      </div>

    </div>
    <agm-map style="display: none;" id="map" class="map" [latitude]="latitude" [longitude]="longitude">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
</div>
