<div class="dashboard__container">
  <app-nav></app-nav>
  <div class="content__wrapper">
    <mat-horizontal-stepper class="stepper" labelPosition="bottom" linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form class="first__form" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Contest Details</ng-template>
          <div class="form__header">Fill in the details about your contest</div>
          <div class="details">
            <mat-form-field class="form__field">
              <mat-label>Name</mat-label>
              <textarea matInput placeholder="Name" formControlName="name" required></textarea>
            </mat-form-field>
            <mat-form-field class="form__field">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Give a description" formControlName="description" required></textarea>
            </mat-form-field>
            <mat-form-field class="form__field">
              <mat-label>Partners</mat-label>
              <textarea matInput placeholder="Ex. Partner1, Partner2, ..." formControlName="partners"></textarea>
            </mat-form-field>
          </div>
          <div class="form__header">When will your contest take place?</div>
          <div class="details">
            <mat-form-field class="form__field__date">
              <mat-label>Choose a start date</mat-label>
              <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Choose an end date</mat-label>
              <input matInput [matDatepicker]="pickerEnd" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form__header">What is the enrollment period?</div>
          <div class="details">
            <mat-form-field class="form__field__date">
              <mat-label>Enroll starts</mat-label>
              <input matInput [matDatepicker]="pickerEnStart" formControlName="enrollmentStartDate">
              <mat-datepicker-toggle matSuffix [for]="pickerEnStart"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Enroll ends</mat-label>
              <input matInput [matDatepicker]="pickerEnEnd" formControlName="enrollmentDueDate">
              <mat-datepicker-toggle matSuffix [for]="pickerEnEnd"></mat-datepicker-toggle>
              <mat-datepicker #pickerEnEnd></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Cover Picture</ng-template>
        <div class="form__header">Choose a cover picture for your contest.</div>
        <div class="cover__wrapper">
          <mat-button-toggle-group [(ngModel)]="image" class="cover__wrapper">
            <mat-button-toggle value="../../assets/images/img1.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img1.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img2.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img2.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img3.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img3.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img4.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img4.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img5.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img5.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img6.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img6.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img7.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img7.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img8.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img8.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img9.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img9.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img10.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img10.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img11.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img11.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
            <mat-button-toggle value="../../assets/images/img12.jpg" class="image__card">
              <img class="cover__image" src="../../assets/images/img12.jpg" alt="Photo of a Shiba Inu">
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step >
        <div class="form__header">Where is your contest held?</div>
        <mat-radio-group [(ngModel)]="labelPosition">
          <mat-radio-button class="location__button" (click)="onlineClicked()" value="after">Online</mat-radio-button>
          <mat-radio-button class="location__button" (click)="onsiteClicked()" value="before">Onsite</mat-radio-button>
        </mat-radio-group>
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Give A Location</ng-template>
          <div class="details" id="online__div">
            <mat-form-field class="location__form__field">
              <mat-label>Web Resource</mat-label>
              <textarea matInput placeholder="Ex. https://..." formControlName="onlineResource" required></textarea>
            </mat-form-field>
          </div>
          <div class="details" style="display: none;" id="location__div">
            <div class="form__header">Fill in local adress</div>
            <mat-form-field class="form__field__date">
              <mat-label>Street Name</mat-label>
              <input matInput placeholder="Ex. John Doe St." formControlName="streetName" required>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Street Number</mat-label>
              <input matInput placeholder="Ex. 4A" formControlName="streetNumber" required>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Building Number</mat-label>
              <input matInput placeholder="Ex. 128" formControlName="buildingNumber" required>
            </mat-form-field>
          </div>
          <div class="details" style="display: none;" id="location__div2">
            <div class="form__header">Fill in regional adress</div>
            <mat-form-field class="form__field__date">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. New York" formControlName="city" required>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Region</mat-label>
              <input matInput placeholder="Ex. NY" formControlName="region" required>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Ex. USA" formControlName="country" required>
            </mat-form-field>
            <mat-form-field class="form__field__date">
              <mat-label>Postal Code</mat-label>
              <input matInput placeholder="Ex. 400325" formControlName="postalCode" required>
            </mat-form-field>
          </div>
          <div class="details" style="display: none;" id="location__div3">
            <div class="form__header">Any details?</div>
            <mat-form-field class="location__form__field">
              <mat-label>Details</mat-label>
              <textarea matInput placeholder="..." formControlName="details"></textarea>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add tags</ng-template>
        <div class="form__header">Add any suitable tags.</div>
        <mat-form-field class="chip__list">
          <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of stringTags" [selectable]="selectable" [removable]="removable"
              (removed)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tags..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
        <ng-template matStepLabel>Add special requirements</ng-template>
        <div class="form__header">Add any special requests for the enrollment process.</div>
        <form [formGroup]="thirdFormGroup" style="margin-bottom: 1%;">
          <mat-form-field class="chip__list">
            <mat-label>Requirement</mat-label>
            <textarea matInput placeholder="Ex. Input personal identification number..."
              formControlName="requirement"></textarea>
          </mat-form-field>
          <button (click)="addRequirement()" style="margin-left: 1%;" mat-button>ADD</button>
        </form>
        <div style="display: none;" id="reqList" cdkDropList class="requirement__list" (cdkDropListDropped)="drop($event)">
          <div class="requirement__box" *ngFor="let requirement of stringRequirements" cdkDrag>
            {{requirement}}
            <span (click)="close(requirement)" class="material-icons close">
              close
            </span>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <div class="finish__wrapper">
          <mat-checkbox class="checkbox" [(ngModel)]="checked">I agree with the terms and conditions imposed by the
            Contest Point online platform</mat-checkbox>
          <button mat-button [disabled]="!checked" (click)="submit()" class="create__button">CREATE CONTEST</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
