.login__card {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
}

.card__picture__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  // margin-top: 5%;
  margin-bottom: 5%;
}

.card__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bottom__text {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.login__title {
  font-family: 'Paytone One', sans-serif;
  font-size: 40px;
  margin-bottom: 7%;
  margin-top: 7%;
}

mat-form-field {
  width: 80%;
}

.login__button {
  width: 250px;
  height: 40px;
  background: rgb(255, 98, 241);
  background: linear-gradient(90deg, rgba(255, 98, 241, 1) 27%, rgba(61, 236, 221, 1) 68%);
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 50px;
  align-self: center;
  margin-top: 5%;
  transition: 0.3s ease-out;
  font-weight: bold;
}

.cancel__button {
  align-self: flex-start;
  margin-top: 2%;
  margin-left: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
}
