<mat-card class="login__card">
  <div class="card__picture__wrapper">
    <button mat-button (click)="cancel()" class="cancel__button"><span class="material-icons">
        arrow_back
      </span></button>
    <img src="../../assets/images/cardImg1.jpg" alt="LoginCardImage" class="card__picture">
    <span class="bottom__text">Create an account</span>
  </div>
  <div class="card__content__wrapper">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="login__title">Log In</div>
      <mat-form-field class="email__form">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" required placeholder="Email"
        [(ngModel)]="user.email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="password__form">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
          [type]="hide ? 'password' : 'text'" required placeholder="Password" [(ngModel)]="user.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <span class="bottom__text">Forgot password?</span>
      <button class="login__button" [disabled]="!loginForm.valid" type="submit">LOGIN</button>
    </form>
  </div>
</mat-card>
