<div class="dashboard__container">
    <app-nav></app-nav>
    <div class="content__wrapper">
      <mat-tab-group>
        <mat-tab label="Likes">
          <div class="tab">
            <mat-card matRipple (click)="goToCurrentContest(contest.contestId)" *ngFor="let contest of contestsLiked"
              class="contest__card">
              <mat-card-header>
                <div mat-card-avatar class="header__avatar">
                  <span>{{contest.userFirstName[0]}}{{contest.userLastName[0]}}</span></div>
                <mat-card-title>{{contest.contestName}}</mat-card-title>
                <mat-card-subtitle>by {{contest.userFirstName}} {{contest.userLastName}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src={{contest.coverPicture}} alt="Cover Photo">
              <div class="likes__wrapper">
                <button mat-icon-button class="like__button" color="warn" aria-label="Like button">
                  <span class="material-icons">
                    favorite_border
                  </span>
                </button>{{contest.likes.length}} likes</div>
              <mat-card-content>
                <mat-chip-list aria-label="Tags">
                  <mat-chip *ngFor="let tag of contest.tags">{{tag.tagName}}</mat-chip>
                </mat-chip-list>
                <p>
                  {{contest.details}}
                </p>
                <p>Enrollment ends: {{contest.enrollmentDue}}</p>
                <p>Takes place: {{contest.startDate}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Upcoming">
          <div class="tab">
            <mat-card matRipple (click)="goToCurrentContest(contest.contestId)" *ngFor="let contest of contestsLikedUpcoming"
              class="contest__card">
              <mat-card-header>
                <div mat-card-avatar class="header__avatar">
                  <span>{{contest.userFirstName[0]}}{{contest.userLastName[0]}}</span></div>
                <mat-card-title>{{contest.contestName}}</mat-card-title>
                <mat-card-subtitle>by {{contest.userFirstName}} {{contest.userLastName}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src={{contest.coverPicture}} alt="Cover Photo">
              <div class="likes__wrapper">
                <button mat-icon-button class="like__button" color="warn" aria-label="Like button">
                  <span class="material-icons">
                    favorite_border
                  </span>
                </button>{{contest.likes.length}} likes</div>
              <mat-card-content>
                <mat-chip-list aria-label="Tags">
                  <mat-chip *ngFor="let tag of contest.tags">{{tag.tagName}}</mat-chip>
                </mat-chip-list>
                <p>
                  {{contest.details}}
                </p>
                <p>Enrollment ends: {{contest.enrollmentDue}}</p>
                <p>Takes place: {{contest.startDate}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  
