<div class="dashboard__container">
  <app-nav></app-nav>
  <div class="content__wrapper">
    <mat-tab-group>
      <mat-tab label="Likes">
        <mat-form-field class="search__input">
          <mat-label>Search</mat-label>
          <input matInput type="text" name="search" ngDefaultControl placeholder="Ex. Contest.."
            [(ngModel)]="searchValue">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="contestsLiked.length != 0" class="tab">
          <mat-card matRipple (click)="goToCurrentContest(contest.contestId)"
            *ngFor="let contest of contestsLiked | filter :'contestName' : 'userFirstName' : 'userLastName': searchValue"
            class="contest__card">
            <mat-card-header>
              <div mat-card-avatar class="header__avatar">
                <span>{{contest.userFirstName[0]}}{{contest.userLastName[0]}}</span></div>
              <mat-card-title>{{contest.contestName}}</mat-card-title>
              <mat-card-subtitle>by {{contest.userFirstName}} {{contest.userLastName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{contest.coverPicture}} alt="Cover Photo">
            <div class="likes__wrapper">
              <button mat-icon-button class="like__button" color="warn" aria-label="Like button">
                <span class="material-icons">
                  favorite_border
                </span>
              </button>{{contest.likes.length}} likes</div>
            <mat-card-content>
              <mat-chip-list aria-label="Tags">
                <mat-chip [(ngModel)]="contest.tags" name="chip" ngDefaultControl (click)="data(tag.tagName)"
                  *ngFor="let tag of contest.tags">{{tag.tagName}}</mat-chip>
              </mat-chip-list>
              <p>
                {{contest.details}}
              </p>
              <p>Enrollment ends: {{contest.enrollmentDue}}</p>
              <p>Takes place: {{contest.startDate}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="contestsLiked.length == 0" class="tab">
          <span class="nothing">Oops, looks like there's nothing here yet.</span>
        </div>
      </mat-tab>
      <mat-tab label="Upcoming">
        <mat-form-field class="search__input">
          <mat-label>Search</mat-label>
          <input matInput type="text" name="search" ngDefaultControl placeholder="Ex. Contest.."
            [(ngModel)]="searchValue">
          <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="contestsLikedUpcoming.length != 0" class="tab">
          <mat-card matRipple (click)="goToCurrentContest(contest.contestId)"
            *ngFor="let contest of contestsLikedUpcoming | filter :'contestName' : 'userFirstName' : 'userLastName': searchValue"
            class="contest__card">
            <mat-card-header>
              <div mat-card-avatar class="header__avatar">
                <span>{{contest.userFirstName[0]}}{{contest.userLastName[0]}}</span></div>
              <mat-card-title>{{contest.contestName}}</mat-card-title>
              <mat-card-subtitle>by {{contest.userFirstName}} {{contest.userLastName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{contest.coverPicture}} alt="Cover Photo">
            <div class="likes__wrapper">
              <button mat-icon-button class="like__button" color="warn" aria-label="Like button">
                <span class="material-icons">
                  favorite_border
                </span>
              </button>{{contest.likes.length}} likes</div>
            <mat-card-content>
              <mat-chip-list aria-label="Tags">
                <mat-chip [(ngModel)]="contest.tags" name="chip" ngDefaultControl (click)="data(tag.tagName)"
                  *ngFor="let tag of contest.tags">{{tag.tagName}}</mat-chip>
              </mat-chip-list>
              <p>
                {{contest.details}}
              </p>
              <p>Enrollment ends: {{contest.enrollmentDue}}</p>
              <p>Takes place: {{contest.startDate}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="contestsLikedUpcoming.length == 0" class="tab">
          <span class="nothing">Oops, looks like there's nothing here yet.</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
