<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:1234/contestpoint</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">parola</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping class="com.contestpoint.model.Quiz"></mapping>
        <mapping class="com.contestpoint.model.Question"></mapping>
        <mapping class="com.contestpoint.model.Answer"></mapping>
        <mapping class="com.contestpoint.model.User"></mapping>
        <mapping class="com.contestpoint.model.UserLike"></mapping>
        <mapping class="com.contestpoint.model.ParticipationContract"></mapping>
        <mapping class="com.contestpoint.model.Location"></mapping>
        <mapping class="com.contestpoint.model.Tag"></mapping>
        <mapping class="com.contestpoint.model.LocationContest"></mapping>
        <mapping class="com.contestpoint.model.TagContest"></mapping>
        <mapping class="com.contestpoint.model.Contest"></mapping>
    </session-factory>

</hibernate-configuration>
